In [1]:
import pandas as pd # dataset load
from sklearn.datasets import load_iris
# 계층적 군집 model
from scipy.cluster.hierarchy import linkage, dendrogram

In [2]:
df = pd.read_csv('../../cto_k8s/m_data_10.11.1.80:9091.csv', 
                 usecols=['time', 'cpu_value', 'memory_value'])

df.rename(columns={'cpu_value':'cpu', 'memory_value':'memory'}, inplace=True)

df['timestamp'] = pd.to_datetime(df.time, unit='s')
df.head()

         time       cpu    memory           timestamp
0  1596499200  0.565333  0.359691 2020-08-04 00:00:00
1  1596499800  0.571564  0.359799 2020-08-04 00:10:00
2  1596500400  0.543800  0.360392 2020-08-04 00:20:00
3  1596501000  0.534930  0.359795 2020-08-04 00:30:00
4  1596501600  0.569663  0.359930 2020-08-04 00:40:00

In [3]:
df.tail()

            time       cpu    memory           timestamp
5479  1599802800  2.727230  0.541095 2020-09-11 05:40:00
5480  1599803400  2.196400  0.538141 2020-09-11 05:50:00
5481  1599804000  2.703533  0.541454 2020-09-11 06:00:00
5482  1598332200       NaN  0.511703 2020-08-25 05:10:00
5483  1598333400       NaN  0.510870 2020-08-25 05:30:00

In [4]:
df['cpu'] = df['cpu'].fillna(df['cpu'].mean())
df['memory'] = df['memory'].fillna(df['memory'].mean())

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5484 entries, 0 to 5483
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       5484 non-null   int64
 1   cpu        5484 non-null   float64
 2   memory     5484 non-null   float64
 3   timestamp  5484 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 171.5 KB

In [6]:
# 분석
df_c_m = df[['cpu', 'memory']].T
df_c_m

corr = df_c_m.corr(method = 'pearson')
print(corr)

      0     1     2     3     4     5     6     7     8     9     ...  5474  \
0      1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0
1      1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0
2      1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0
3      1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0
4      1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
5479   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0
5480   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0
5481   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0
5482   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0
5483   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0  ...   1.0

      5475  5476  5477  5478  5479  5480  5481  5482  5483
0      1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
1      1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2      1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3      1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
4      1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
5479   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
5480   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
5481   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
5482   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
5483   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0

[5484 rows x 5484 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5484 entries, 0 to 5483
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       5484 non-null   int64
 1   cpu        5484 non-null   float64
 2   memory     5484 non-null   float64
 3   timestamp  5484 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 171.5 KB